### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
arr_unique_SN = purchase_data['SN'].unique()
df_count_SN = pd.DataFrame({'Total Players': [len(arr_unique_SN)]})
df_count_SN

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# basic calculations
unique_item_count = len(purchase_data['Item ID'].unique())
avg_price = purchase_data['Price'].mean()
purchase_count = len(purchase_data.index)
total_revenue = purchase_data['Price'].sum()

# create data frame with results
display = pd.DataFrame({'Number of Unique Items': [unique_item_count], 
                        'Average Price': [avg_price], 
                        'Number of Purchases': [purchase_count], 
                        'Total Revenue': [total_revenue]})
# format dollar entries
display['Average Price'] = display['Average Price'].map("${:.2f}".format)
display['Total Revenue'] = display['Total Revenue'].map("${:.2f}".format)
display

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# calculate counts of each gender
count = purchase_data['Gender'].value_counts()
percentage = 100 * count/purchase_count    # purchase_count calculated above 

# create display data frame
display = pd.DataFrame({"Total Count": count, 
                        'Percentage of Players': percentage})

#format percentage
display['Percentage of Players'] = display['Percentage of Players'].map('{:.2f}%'.format)
display

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# create gender-based groupby object
group = purchase_data.groupby('Gender')

# calculate purchase count, avg. purchase price, total purchase value by gender
count = group.size()
purchase_total = group['Price'].sum()
purchase_avg = purchase_total/purchase_count       # purchase_count calculated above 

# calculate avg. purchase total per person etc. by gender.  This requires dividing the
# total purchase per gender by the number of UNIQUE persons (column is SN) per gender.
# -----------------------------------------------------------------------------------
# uses the SeriesGroupBy.nunique(self, dropna=True) function -- another approach is 
# to remove dups and just do a simple count()
# -----------------------------------------------------------------------------------
unique_person_count = group['SN'].nunique()
per_person_avg = purchase_total/unique_person_count

# create display data frame
display = pd.DataFrame({'Purchase Count': count, 
                        'Average Purchase Price': purchase_avg,
                        'Total Purchase Value': purchase_total,
                        'Avg Total Purchase per Person': per_person_avg })
# format
display['Average Purchase Price'] \
    = display['Average Purchase Price'].map('{:.2f}%'.format)
display['Total Purchase Value'] \
    = display['Total Purchase Value'].map('${:.2f}'.format)
display['Avg Total Purchase per Person'] \
    = display['Avg Total Purchase per Person'].map('${:.2f}'.format)
display

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,0.46%,$361.94,$4.47
Male,652,2.52%,$1967.64,$4.07
Other / Non-Disclosed,15,0.06%,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
# create the age bins
bin_sequence = [0, 9, 14, 19, 24, 29, 34, 39, 120]

names = ['<10', '10-14', '15-19','20-24','25-29','30-34','35-39','40+']
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bin_sequence, labels=names)

# create a groupby object from the binned purchase_data and grouped by the player age
age_group = purchase_data.groupby("Age Range")

# calculate numbers and percentages by age group.  This requires using the
# number of UNIQUE players (column is SN) per age.
# -----------------------------------------------------------------------------------
# uses the SeriesGroupBy.nunique(self, dropna=True) function -- another approach is 
# to remove dups and just do a simple count()
# -----------------------------------------------------------------------------------
person_count = age_group['SN'].nunique()
percentage = 100 * count/purchase_count       # purchase_count calculated above

# create display data frame
display = pd.DataFrame({"Total Count": person_count, 
                            'Percentage of Players': percentage})
display['Percentage of Players'] \
    = display['Percentage of Players'].map('{:.2f}%'.format)

display

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.59%
15-19              107                17.44%
20-24              258                46.79%
25-29               77                12.95%
30-34               52                 9.36%
35-39               31                 5.26%
40+                 12                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# use the above age-based groupby object
age_group = age_group

# calculate purchase count, avg. purchase price, total purchase value by gender
count = age_group.size()
purchase_total = age_group['Price'].sum()
average = purchase_total/count
average_per_person = purchase_total/person_count  # person_count from above

# create display data frame
display = pd.DataFrame({"Purchase Count": count, 
                               'Average Purchase Price': average,
                               'Total Purchase Value': purchase_total,
                               'Avg Total Purchase per Person': \
                                   average_per_person })
display['Average Purchase Price'] \
    = display['Average Purchase Price'].map('{:.2f}%'.format)
display['Total Purchase Value'] \
    = display['Total Purchase Value'].map('${:.2f}'.format)
display['Avg Total Purchase per Person'] \
    = display['Avg Total Purchase per Person'].map('${:.2f}'.format)
display

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,3.35%,$77.13,$4.54
10-14,28,2.96%,$82.78,$3.76
15-19,136,3.04%,$412.89,$3.86
20-24,365,3.05%,$1114.06,$4.32
25-29,101,2.90%,$293.00,$3.81
30-34,73,2.93%,$214.00,$4.12
35-39,41,3.60%,$147.67,$4.76
40+,13,2.94%,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# create a groupby object based on indiviual players (the SN column)
player_group = purchase_data.groupby('SN')

# calculate purchase count, avg. purchase price, total purchase value by player
player_purchase_counts = player_group.size()
player_purchase_total = player_group['Price'].sum()
player_purchase_ave = player_purchase_total/player_purchase_counts

# create display data frame
player_display = pd.DataFrame({"Purchase Count": player_purchase_counts, 
                               'Average Purchase Price': player_purchase_ave,
                               'Total Purchase Value': player_purchase_total})
player_display['Average Purchase Price'] \
    = player_display['Average Purchase Price'].map('{:.2f}%'.format)
player_display['Total Purchase Value'] \
    = player_display['Total Purchase Value'].map('${:.2f}'.format)
player_display_sorted = player_display.sort_values(by='SN', ascending=False)
player_display_sorted.head()

               Purchase Count Average Purchase Price Total Purchase Value
SN
Zontibe81                   3                  2.68%                $8.03
Zhisrisu83                  2                  3.94%                $7.89
Yoishirrala98               1                  4.58%                $4.58
Yathedeu43                  2                  3.01%                $6.02
Yathecal82                  3                  2.07%                $6.22

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame