### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [2]:
# create a groupby object based on indiviual players (the SN column)
group = purchase_data.groupby('SN')

# calculate purchase count, avg. purchase price, total purchase value by player
count = group.size()
purchase_total = group['Price'].sum()
purchase_ave = purchase_total/count

# create dictionary to hold the values
purchase_data_values = {
    "Purchase Count": count, 
    'Average Purchase Price': purchase_ave,
    'Total Purchase Value': purchase_total
}

# create a new data frame from the dictionary
display_df = pd.DataFrame(purchase_data_values) #, index = group.groups)

# format
display_df['Average Purchase Price'] \
    = display_df['Average Purchase Price'].map('{:.2f}%'.format)
display_df['Total Purchase Value'] \
    = display_df['Total Purchase Value'].map('${:.2f}'.format)
display_sorted = display_df.sort_values(by='Total Purchase Value', ascending=False)
display_sorted.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  3.17%                $9.50
Phistym51                  2                  4.75%                $9.50
Lamil79                    2                  4.64%                $9.29
Aina42                     3                  3.07%                $9.22
Saesrideu94                2                  4.59%                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [3]:
# Retrieve the Item ID, Item Name, and Item Price columns.
item_data = purchase_data[['Item ID', 'Item Name', 'Price']]

# Create a group by object based on item ID.
item_id_group = item_data.groupby('Item ID')

# Calculate the purchase count and total purchase size.
item_name = item_id_group['Item Name'].unique()
item_price = item_id_group['Price'].mean()
purchase_count = item_id_group.size()
purchase_total = item_id_group['Price'].sum()

# Create a dictionary to hold values.
purchase_data_values = {
    'Item Name': item_name,
    'Item Price': item_price,
    'Total Purchase Count': purchase_count,
    'Total Purchase Value': purchase_total
}
p
# Create a new data frame with the calculate values
popular_item_df = pd.DataFrame(purchase_data_values, index = item_id_group.groups)

# Make a copy of the data frame to be used in the below "Most Profitable Items" problem
profitable_item_df = popular_item_df.copy()

# Format the Data Frame
popular_item_df[['Item Price','Total Purchase Value']] \
    = popular_item_df[['Item Price','Total Purchase Value']].applymap('${:.2f}'.format)

# Sort the data frame by Total Purchases, in descending order.
popular_item_df_sorted = popular_item_df.sort_values(by='Total Purchase Count', ascending=False)

# Display the head.
popular_item_df_sorted.head()

,Item Name,Item Price,Total Purchase Count,Total Purchase Value
178,"[Oathbreaker, Last Hope of the Breaking Storm]",$4.23,12,$50.76
145,[Fiery Glass Crusader],$4.58,9,$41.22
108,"[Extraction, Quickblade Of Trembling Hands]",$3.53,9,$31.77
82,[Nirvana],$4.90,9,$44.10
19,"[Pursuit, Cudgel of Necromancy]",$1.02,8,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [5]:
# Using a copy of the above data frame, popular_item_df  

# Sort the data frame by Total Purchases, in descending order.
profitable_item_df_sorted = profitable_item_df.sort_values(by='Total Purchase Value', ascending=False)

# Display the head.
profitable_item_df_sorted.head()

,Item Name,Item Price,Total Purchase Count,Total Purchase Value
178,"[Oathbreaker, Last Hope of the Breaking Storm]",4.23,12,50.76
82,[Nirvana],4.90,9,44.10
145,[Fiery Glass Crusader],4.58,9,41.22
92,[Final Critic],4.88,8,39.04
103,[Singed Scalpel],4.35,8,34.80